.companyPage-tagLine {
    color: #a5a5a5;
}

.companyPage-companyStats {
    height: auto;
    overflow-y: auto;
    overflow-x: auto;

    th {
        text-align: center;
        font-weight: bold;
    }

    td {
        text-align: center;
        border-bottom: none;
        white-space: nowrap;
    }
}

// Rating
.companyPage-rating-card {
    height: 10rem;
    overflow: hidden;

    h6 {
        color: #a5a5a5;
        text-transform: uppercase;
        white-space: nowrap;
    }

    .companyPage-rating-card-check,
    .companyPage-rating-card-fundamentals,
    .companyPage-rating-card-fmv {
        width: 100%;
        height: 50%;
        margin-top: 0.5rem;
    }

    .companyPage-rating-card-check {
        color: #00800070;
    }
}

.companyPage-rating-info-tooltip {
    border-radius: 8px;

    div {
        background-color: #f8f9fa;
        color: black;
        box-shadow: black 0px 1px 11px 0px;
    }
}

.companyPage-rating-approved-rates-table {
    th {
        font-weight: bold;
    }

    td {
        border-bottom: none;
    }
}

.companyPage-rating-pending-approval-div {
    h5 {
        color: #a5a5a5;
        text-transform: uppercase;
    }
}

.companyPage-rating-table {
    thead {
        border: none;

        * {
            border: none;
        }

        tr {
            color: #a5a5a5;
            text-transform: uppercase;
        }
    }

    tbody {
        border: none !important;

        * {
            border: none;
        }
    }
}

.companyPage-rating-approveAll-button {
    margin-top: 3rem;
    border: none;
}

// Research Entries
//.companyPage-historyTable-dataGrid,
.companyPage-historyTable-researchEntriesTable-container {
    background-color: white;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 6px;
    margin-bottom: 2rem;
    box-shadow: #00000052 1px 1px 10px 0px;

    table {
        table-layout: fixed;

        td {
            border-bottom: none;
        }
    }

    thead {
        th {
            font-size: 1rem;
            font-weight: bolder !important;
        }

        .collapse-icon-header {
            width: 5%;
        }

        .sourceId-header {
            width: 8%;
        }

        .date-header {
            width: 12%;
        }

        .attachments-header {
            width: 10%;
        }

        .comments-header {
            width: 50%;
        }

        .newEntry-header {
            text-align: right;
            width: 15%;
        }

        .newEntryButton {
            border: none;
            font-size: 1.75rem;
            padding: 0.375rem;
        }
    }

    .comments {
        margin-top: 0.75rem;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        cursor: pointer;
    }

    .attachments-collapse {
        border-bottom: 3px solid #00000042;
    }

    .attachments-table {
        th {
            color: grey;
        }

        td {
            font-size: 0.9rem;
            padding: 0.75rem;
        }
    }
}

// .companyPage-historyTable-attachments {
//     text-align: center !important;
// }

// .companyPage-historyTable-comments-cell {
//     text-align: justify;
//     text-overflow: ellipsis;
//     width: 100%;
//     cursor: pointer;
//     overflow: hidden;
// }

.companyPage-historyTable-comments-tooltip {
    border-radius: 8px;

    div {
        background-color: #f8f9fa;
        color: black;
        box-shadow: black 0px 1px 11px 0px;
        font-size: 1rem;
    }
}

// .companyPage-historyTable-newEntryButton {
//     border: none;
//     font-size: 1.5rem;
// }

// Price History
.companyPage-priceHistory-quality-graph,
.companyPage-priceHistory-fundamentals-graph {
    canvas {
        height: 150px !important;
        width: 100% !important;
    }
}
