.companyPage-historyTable-attachments {
    text-align: center !important;
}

.companyPage-historyTable-comments-cell {
    text-align: justify;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}